body{
    background-image: url(bg.jpg);
    background-size: 100%;}
.menu {
    width: 750px;
    height: 750px;
}

g {
    transition: all 0.5s;
}

.moveFirst {
    transform: translate(70px, 10px) rotate(15deg);
}
.moveCss{
    transform: translate(130px, 50px) rotate(30deg);
}

.moveHtml{
    transform: translate(190px, 20px) rotate(45deg);
}

.moveKnow{
    transform: translate(260px, 60px) rotate(60deg);
}

.movePipe{
    transform: translate(300px, 20px) rotate(75deg);
}
.change{
    opacity: 0;
}
.noarrow{
    display: none;
}
.appear{
    color: white;
    display: block;
}
a:hover{
    opacity: 0.8;
}
